/* Navbar */
#searchBar {
  max-width: 700px;
}

/* Login Page */
#login-page {
  background-color: #eff2f6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container {
  background-color: #fff;
  max-width: 500px;
}

/* Sign up Modal */
.modal-open .container-fluid,
.modal-open .container {
  -webkit-filter: blur(10px) grayscale(70%); /* Blur for modal */
}

/* Home Page */
#home-main-container {
  background-color: #eff2f6;
  min-height: 90vh;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

/* Product Detail Page */
#productDetail-container {
  background-color: #eff2f6;
  min-height: 90vh;
}
#thumbnail:hover {
  cursor: pointer;
}

.minH-90 {
  min-height: 86.7vh;
}
h1 {
  text-align: center;
  margin-top: 2px;
  padding-top: 5px;
}
.hover :hover {
  background-color: darkorchid;
  color: white;
}
