.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-center{
  text-align:center
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-css{
  padding-top: 10%;
  width: 600px;
  margin: 0 auto;
}

nav .no-link{
  text-decoration: none;
  color: #707071;
}

.todo-main{
  width: 600px;
  margin: 0 auto;
}

.mark-done{
  text-decoration: line-through;
}

.hidden{
  display: none;
}

.pos-center{
  margin: 0 auto;
}

.border-fancy{
  margin: 3%;
  text-align: center;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px gray;
  padding: 10px;
}