<div class="col mb-5">
    <div class="card h-100">
      <!-- Badge-->
  
      <!-- Product image-->
      <img
        class="card-img-top p-4 img-responsive"
        style="width: auto; height: 300px"
        src="<%= product.image %>"
        alt="..."
      />
      <!-- Product details-->
      <div class="card-body p-4">
        <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder"><%= product.title %></h5>
          <!-- Product price-->
          $<%= product.price %>
        </div>
      </div>
      <!-- Product actions-->
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
          <a class="btn btn-outline-dark mt-auto" href="#">
            Add to Cart
          </a>
        </div>
      </div>
    </div>
  </div>